* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* barra busqueda */

.filtro {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
}

#buscador {
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
    border: 2px solid rgb(176, 176, 176);
    width: 25rem;
}

header {
    display: flex;
    justify-content: center;
}

header #logo {
    width: 300px;
    height: 300px;
}